@media screen and (min-width: 90.625em) {
  :root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --font-Family: Poppins, open sans;
  }

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    width: 100%;
    font-size: 1em;
    font-family: var(--font-Family);
    background-color: var(--Violet);
    /* background-color: brown; */
  }

  .main {
    height: 100%;
    width: 100%;
    position: relative;
    color: white;
  }

  .main-bg {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .main-bg img {
    height: 100%;
  }

  .desktop {
    display: block;
  }

  .mob {
    display: none;
  }

  .container {
    position: absolute;
    padding: 6em 6em 6em 8em;
    display: flex;
    height: 100%;
  }

  .logo {
    height: 5em;
    margin-bottom: 3em;
  }

  .mockup {
    width: 50em;
    height: fit-content;
    margin-top: 5em;
    margin-bottom: 2.5em;
  }

  .box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 0 0 0 6em; */
    padding-left: 7em;
    position: relative;
  }

  .titles {
    margin-bottom: 1.9em;
  }

  .title {
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 0.5px;
    word-spacing: 1px;
  }

  .para {
    font-size: 1.5em;
    word-spacing: 1px;
    padding: 0 0.3em 0 0.3em;
    margin-bottom: 1.5em;
    font-weight: 300;
    opacity: 0.9;
    width: 95%;
  }

  .btn {
    width: 30%;
    padding: 1em 1em 1em 1em;
    border-radius: 2em;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.5px;
    background-color: white;
    color: var(--Violet);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 200ms ease-in-out;
  }

  .btn:hover {
    cursor: pointer;
    color: white;
    background-color: var(--Soft-Magenta);
    transition: 200ms ease-in-out;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 12em;
    bottom: 3em;
  }

  span {
    margin: 0.4em;
  }

  span:hover {
    cursor: pointer;
    color: var(--Soft-Magenta);
  }

  .fb {
    border: 0.8px solid white;
    height: 3em;
    width: 3em;
    /* padding: 0em; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fb:hover {
    cursor: pointer;
    border: 0.8px solid var(--Soft-Magenta);
  }
}
