@media screen and (max-width: 900px) {
  :root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --font-Family: Poppins, open sans;
  }

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100%;
    width: 100%;
    font-size: 1em;
    font-family: var(--font-Family);
    background-color: var(--Violet);
  }

  .main {
    height: 100%;
    width: 100%;
    position: relative;
    color: white;
  }

  .main-bg {
    position: absolute;
    width: 100%;
  }

  .mob {
    width: 100%;
  }

  .desktop {
    display: none;
  }

  .container {
    position: absolute;
    margin: 2em;
  }

  .container img {
    max-width: 100%;
  }

  .logo {
    height: 2em;
    margin-bottom: 3em;
  }

  .logo:hover {
    cursor: pointer;
  }

  .mockup {
    width: fit-content;
    height: fit-content;
    margin-bottom: 2.5em;
  }

  .box-2 {
    text-align: center;
  }

  .titles {
    margin-bottom: 1em;
  }

  .title {
    font-size: 1.7em;
    font-weight: 600;
    letter-spacing: 0.5px;
    word-spacing: 1px;
  }

  .para {
    font-size: 1em;
    word-spacing: 1px;
    padding: 0 0.3em 0 0.3em;
    margin-bottom: 1.5em;
    font-weight: 300;
    opacity: 0.9;
  }

  .btn {
    width: 60%;
    padding: 1em;
    border-radius: 2em;
    border: none;
    font-size: 0.85em;
    letter-spacing: 0.5px;
    background-color: white;
    color: var(--Violet);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 200ms ease-in-out;
  }

  .btn:hover {
    cursor: pointer;
    color: white;
    background-color: var(--Soft-Magenta);
    transition: 200ms ease-in-out;
  }

  .social {
    margin: 4em 0 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    margin: 0.4em;
  }

  span:hover {
    cursor: pointer;
    color: var(--Soft-Magenta);
  }

  .fb {
    border: 0.8px solid white;
    height: 1em;
    width: 1em;
    padding: 1em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fb:hover {
    cursor: pointer;
    border: 0.8px solid var(--Soft-Magenta);
  }
}
